body {
  background-color: rgba(98, 55, 28, 0.85);
  font-family: "Montserrat", sans-serif;
  color: #62371c;
}

/* NAVBAR STYLING */
/*Contains the stlying for navigation bar*/
.navbar {
  background-color: #f7f1d5 !important;
  padding-right: 20px;
}

/*Contains styling for the logo
Adds it to the left
Adjusts width
Pushes slightly away from edge of page on left*/
.logo-image {
  width: 120px;
  align-items: left;
  margin-left: 20px;
}

/*Styles the links by adjusting their side margins,
alignment, and margin on bottom*/
.navbar-nav {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 10px;
}

/*Adjusts the greeting area
Keeps user's name or email in same place
Adjusts how text is displayed
*/
.user-greeting {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 10px 10px 0px 0px;
  font-weight: 300;
}

/*Styles logout button to left of user greeting
adjusts colors, position, text style, transition*/
.logout-button {
  /* position: absolute; */
  /* right: 0%; */
  width: 100px;
  margin-left: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  border: 2px solid #77c29e;
  margin-right: 10px;
  background-color: #f7f1d5 !important;
  color: #62371c !important;
}

/*Determines color change on hover*/
.logout-button:hover {
  background-color: #77c29e !important;
  color: #f7f1d5 !important;
}

@media (min-width: 400px) and (max-width: 985px) {
  .user-greeting {
    font-size: 12px;
  }
}

/* HOME PAGE STYLING */

/*Sets baackground image
settings for how background is displayed
size: contain?
applies to body of return function in App.js*/
.home-body {
  background: url("https://images.pexels.com/photos/2303337/pexels-photo-2303337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: contain;
  height: 100%;
  /* height: 2700px; */
}

/*Styles homepage container
(the greenish box behind the input form)
*/
.container {
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(119, 194, 158, 0.95);
  margin-top: 90px;
  padding-bottom: 300px;
  /* margin-right: 30px;
    margin-left: 30px; */
}

/*Styles form container
*/
.input-form {
  background-color: #f7f1d5;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 3px 3px #62371c;
}

/*Styles the search button under form input
*/
.search-btn {
  color: #62371c;
  text-align: center;
  background-color: #f7f1d5;
  width: 100px;
  margin-top: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  border: 2px solid #77c29e;
}

/*Styles the hover behavior of the search button
*/
.search-btn:hover {
  color: #f7f1d5;
  background-color: #77c29e;
}

/*Not totally sure, seems to style background
*/
input {
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: left;
  border: 1px solid #d3604a;
}

/*Styles the drop-down menus on input form
*/
select.form-select {
  font-size: 13px;
  padding-top: 7px;
  padding-bottom: 10px;
}
/*Styles font size in drop-down menu
*/
option {
  font-size: 13px;
}
/*Styles the text that displays as users type in their two inputs
*/
.midpoint-msg {
  text-align: center;
  margin-top: 70px;
  padding-bottom: 20px;
  font-size: 18px;
  color: #f7f1d5;
}

/*Not entirely sure*/
.login-msg {
  margin-top: 80px;
  text-align: center;
  color: #f7f1d5;
}

/*link styling*/
a {
  color: #62371c;
}

/*styles the icon that is displayed on loading*/
.loading-earth {
  transform: rotateY(0.5turn);
  color: #62371c;
  margin-top: 20px;
}

/*adjdust background width and height to different screen sizes*/
@media (min-width: 575px) and (max-width: 970px) {
  .home-body {
    background: url("https://images.pexels.com/photos/2303337/pexels-photo-2303337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    /* background-size: contain; */
    height: 100%;
    width: 100vw;
    /* height: 2700px; */
  }
}

@media (max-width: 575px) {
  .home-body {
    background: url("https://images.pexels.com/photos/2303337/pexels-photo-2303337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    /* background-size: contain; */
    height: 100%;
    width: 100vw;
    /* height: 2700px; */
  }
}

/* MAP STYLING */

.leaflet-container {
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* styles text on clicking marker (shows name & address)*/
.map-popup {
  color: #62371c;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
}

.map-container {
  background-color: rgba(119, 194, 158, 0);
}

/*adjusts for screen styling*/
@media (max-width: 575px) {
  .leaflet-container {
    width: 70vw;
    height: 50vh;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

/* NEARBY SEARCH STYLING */

/* styles the div which contains list of nearby places */
.places-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* styles the placecards when list is generated */
.place-card {
  background-color: #f7f1d5;
  padding: 20px;
  width: 250px;
  height: 600px;
  margin: 2px;
  text-align: center;
  display: block;
  box-shadow: 3px 3px #62371c;
  margin-bottom: 20px;
}

/* styles visit their website */
.place-url {
  font-size: 11px;
  margin-bottom: 10px;
}

/* linkes*/
a {
  color: #62371c;
}

/* styles links on hover*/
a:hover {
  color: #62371c;
  font-weight: bold;
}

/* styles favourite-heart*/
.favourite-heart,
.heart {
  height: 30px;
  color: #77c29e;
  padding-top: 20px;
}

/* styles the font size of list items (in this case, reviews/ratings*/
li {
  font-size: 13px;
  padding-top: 5px;
}

/*Stlyes boxes that contain links to directions*/
.directions-btn {
  color: #62371c;
  text-align: center;
  background-color: #f7f1d5;
  width: 150px;
  margin-top: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 11px;
  border: 2px solid #77c29e;
}

/*Styles h5 elements: in this case, the title of POI on card*/
h5 {
  color: #77c29e;
}

/*addjusts size appearance of stars*/
.star-rating {
  width: 50%;
}

/* INTRO PAGE STYLING */

/*styles the size and positioning of the video in the background on intro*/
.intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/*styles the text that says "meet in the middle and discover somewhere new"*/
.intro-text {
  background-color: #f7f1d5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  padding: 30px;
  text-align: center;
  /* width: 100%; */
}

/*makes clicking and scrolling smooth rather than jumpy?*/
html {
  scroll-behavior: smooth;
}

/*styles the appearance of the intro button*/
.intro-button {
  color: #62371c;
  text-align: center;
  background-color: #f7f1d5;
  width: 150px;
  margin-top: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  border: 2px solid #77c29e;
}

/*adjusts behavior of intro button on hover*/
.intro-button:hover {
  color: #f7f1d5;
  background-color: #77c29e;
}

/*adjusts heigh of intro image
^^I don't see this used in the code*/
.intro-image {
  height: 100px;
}

/*Accessibility for different screen sizes*/
@media (min-aspect-ratio: 16/9) {
  .intro-video {
    width: 100%;
    height: auto;
  }
  .mobile-video {
    display: none;
  }
}
/*Accessbiility for different screen sizes*/
@media (max-aspect-ratio: 16/9) {
  .intro-video {
    width: auto;
    height: 100%;
  }
  .mobile-video {
    display: none;
  }
}

/*Accessbility for different screen sizes*/
@media (max-width: 480px) {
  .intro-video {
    display: none;
  }
  .mobile-video {
    display: block;
    width: auto;
    object-fit: cover;
    height: 100vh;
  }
  .intro-text {
    bottom: -17%;
    margin-bottom: 140px;
    padding: 40px;
  }
}

/* LOGIN PAGE STYLING */
/*styles body of whole login page (adds background)*/
.login-body {
  background: url("https://images.pexels.com/photos/1058277/pexels-photo-1058277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/*styles the container (ie white)*/
.login-container {
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgba(247, 241, 213, 0.95);
  height: 1000px;
}
/*styles the form inputs (email & p/w)*/
.login-form {
  background-color: #77c29e;
  padding: 20px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  display: block;
  box-shadow: 6px 6px #62371c;
}

/*styles display of the meet in the middle logo*/
.login-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  height: 250px;
}

/*styles register and login buttons*/
.login-btn {
  color: #f7f1d5;
  text-align: center;
  background-color: #62371c;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  border: 2px solid #77c29e;
}

/*styles behavior of these buttons on hover*/
.login-btn:hover {
  color: #62371c;
  text-align: center;
  background-color: #f7f1d5;
  width: 100px;
  margin-top: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  border: 2px solid #77c29e;
}

/*styles all h4 elements to be centered
(they are displayed above the input container*/
h4 {
  text-align: center;
}

/*styles errorLogin message*/
.login-error {
  color: #62371c;
  font-weight: bold;
  text-align: center;
}

/*styles the login with google button displayed at top of login*/
.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  margin-bottom: 10px;
  border: none;
  width: 47%;
  border-radius: 10px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

/*styles hover over google behavior*/
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

/*if accessible, background color will be white*/
.login-with-google-btn:active {
  background-color: #eeeeee;
}

/*not quite sure what this one does*/
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}

/*style behavior if this option is disabled*/
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

/*changes size of this login button depending on screen size*/
@media (max-width: 575px) {
  .login-with-google-btn {
    width: 70%;
  }
}

/*removes the bullet points from ul element*/
ul {
  list-style-type: none;
}

/* ABOUT STYLING */
/*sets background of about body*/
.about-body {
  background: url("https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: contain;
  height: 100%;
  width: auto;
}

/*styles the container*/
.about-container {
  background-color: rgba(119, 194, 158, 0.95);
  margin-top: 90px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 30px;
  text-align: center;
}

/*Styles "about me" title above photo*/
.about-title {
  margin-top: 20px;
  font-size: 25px;
}

/*styles appearance of about photo*/
.me-photo {
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/*styles the gifs included in about me (ratings, search, etc)*/
.about-gifs {
  height: 200px;
  /* width: auto; */
  margin-top: 10px;
  margin-bottom: 10px;
}

/*changes gif height and body for smaller screens?*/
@media (max-width: 575px) {
  .about-gifs {
    height: 150px;
  }
  .about-body {
    background: url("https://images.pexels.com/photos/3951751/pexels-photo-3951751.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: contain;
    height: 100%;
    /* height: 2700px; */
  }
}

/*styles the paragraph text in About component*/
.about-text {
  font-size: 13px;
}

/* CONTACT STYLING */

/*styñes background of contact page*/
.contact-body {
  background: url("https://images.pexels.com/photos/2079438/pexels-photo-2079438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: contain;
  height: 100%;
}

/*styles the container*/
.contact-container {
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(119, 194, 158, 0.95);
  margin-top: 90px;
  padding-bottom: 300px;
  margin-right: 30px;
  margin-left: 30px;
}
/*adjustments for screen size*/
@media (max-width: 770px) {
  .contact-body {
    background: url("https://images.pexels.com/photos/2079438/pexels-photo-2079438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100%;
  }
}

/*adjustments for screen size*/
@media (max-width: 575px) {
  .contact-body {
    background: url("https://images.pexels.com/photos/2079438/pexels-photo-2079438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: contain;
    height: 100%;
  }
}

/*adults how linkedIn and github icons are displayed*/
.contact-icons {
  height: 50px;
  padding: 2px;
  display: flex;
  margin: 0 auto;
}

/*styles all h6 elements (connect with me & send me a msg) */
h6 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

/*styles the contact form*/
.contact-form {
  /* padding: 20px 20px 20px 0px; */
  margin-top: 50px;
  background-color: rgba(247, 241, 213, 0.95);
  box-shadow: 3px 3px #62371c;
  display: flex;
}

/*styles icons div*/
.icons {
  padding-bottom: 50px;
}

/*styles text upon success email sent*/
.contact-confirmation {
  text-align: center;
  margin-top: 10px;
}

/*styles the contact div that contains the send button*/
.contact-div {
  color: #62371c;
  text-align: center;
  margin: 0 auto;
}

/* FAVOURITES STYLING */

/*edits background*/
.favourites-body {
  background: url("https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: contain;
  height: 100%;
  text-align: center;
}

/*styles the container for all favorite cards*/
.favourites-container {
  background-color: rgba(119, 194, 158, 0.95);
  margin-top: 90px;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  padding-bottom: 150px;
  /* padding: 90px; */
}

/*styles the div that contains the favourites card*/
.favourites-list {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

/*styles the div that contains the favourites card*/
.favourites-card {
  background-color: #f7f1d5;
  padding: 20px;
  width: 1000px;
  margin: 2px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  box-shadow: 3px 3px #62371c;
}

/*adjusts list and cards for different screen sizes*/
@media (max-width: 1100px) {
  .favourites-list {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .favourites-card {
    background-color: #f7f1d5;
    padding: 20px;
    width: 350px;
    margin: 2px;
    margin: 0 auto;
    display: inline;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 3px 3px #62371c;
  }
}

/*adjuststs the favourite container for diff screen size*/
@media (max-width: 520px) {
  .favourites-container {
    margin-right: 0px;
    margin-left: 0px;
    /* padding: 90px; */
  }
}

/*styles all h3 elements (your favs, and recent reviews)*/
h3 {
  text-align: center;
  color: #62371c;
  padding-top: 50px;
  padding-bottom: 30px;
}

/*adjusts div that contains recent reviews*/
.ratings-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

/*styles the submitted ratings cards*/
.ratings-card {
  background-color: #f7f1d5;
  padding: 20px;
  width: 300px;
  height: 70vh;
  text-align: center;
  margin: 0 auto;
  display: inline;
  justify-content: space-between;
  box-shadow: 6px 6px #62371c;
}

/*styles the text/list in the favourites card*/
.favourites-info {
  padding: 20px;
  list-style-type: none;
  text-align: center;
  /* padding-left: 50px; */
}

/*can't find this being applied anywhere in component*/
.favourites-search {
  padding: 20px;
  list-style-type: none;
  text-align: center;
  /* padding-left: 50px; */
}

/*styles the chekcboxes in the input form*/
.recommendations {
  padding: 10px;
  list-style-type: none;
  text-align: left;
}

/*would hover over undo link but currently disabled bc of code*/
.rating-link:hover {
  color: #f7f1d5;
  cursor: pointer;
}

/*styles remove from favourites link*/
.remove-link:hover {
  color: #77c29e;
  cursor: pointer;
}

/*styles chevron icon*/
.rating-arrow {
  color: #62371c;
  cursor: pointer;
}

/*styles when star is clicked*/
.on {
  color: #62371c;
}

/*styles when star is not clicked*/
.off {
  color: #f7f1d5;
}

/*can't find corresponding code for this*/
.reviews-text {
  padding-top: 50px;
  padding-bottom: 20px;
  color: #f7f1d5;
  text-align: center;
}

/*styles text and display of ratings form*/
.ratings {
  display: inline;
  margin: 0 auto;
  margin-top: 5px;
  /* padding: 50px; */
  text-align: center;
  padding-top: 0px;
  background-color: rgba(119, 194, 158, 0);
  color: #62371c;
}

/*not totally sure which button this corresponds to but think its the stars*/
button {
  background: none;
  border: none;
  text-align: center;
}

/*styles the submit button*/
.ratings-btn {
  color: #62371c;
  text-align: center;
  background-color: #f7f1d5;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  transition: 0.5s;
  border: 2px solid #77c29e;
}

/*styles on hover behavior of submit button*/
.ratings-btn:hover {
  color: #f7f1d5;
  background-color: #62371c;
}

/*styles "no ratings added yet!"*/
.ratings-text {
  text-align: center;
  margin: 0 auto;
  /* margin-top: 0px; */
  margin-bottom: 50px;
}

/*can't find corresponding code for this css*/
.favourites-remove {
  font-size: 11px;
}
