body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /*Contains default values for light theme on Favourites component*/
  --favourites-h3-title-color: #62371c;
  --favourites-rating-arrow-color: #62371c;
  --favourites-remove-link-color: #62371c;
  --favourites-remove-link-hover-color: #77c29e;
  --favourites-date-time-color: #77c29e;

  /*Contains default values for light theme on NearbySearch component*/
  --place-card-background-color: #f7f1d5;
  --place-card-box-shadow: 3px 3px #62371c;
  --loading-earth-icon-color: #62371c;
  --place-card-heart-color: #77c29e;
  --place-name-color: #77c29e;
  --reviews-text-color: #62371c;
  --place-card-links: #62371c;
  --place-card-links-on-hover: #62371c;
  --place-card-directions-button-background: #f7f1d5;
  --place-card-directions-button-border: 2px solid #77c29e;

  /*Contains default values for light theme on Contact component*/
  --contact-page-h6-elements: #62371c;
  /*Contains default values for light theme on About component*/
  --about-app-text-color: #62371c;
  --about-me-text-color: #62371c;
  --about-me-title-color: #62371c;

  --about-me-link-color: #62371c;
  --about-me-link-hover-color: #462612;

  /*Contains default values for light theme on logonav component*/
  --navbar-background-color: #f7f1d5;
  --navbar-link-color: #62371c;
  --navbar-greeting-color: #62371c;
  --logout-button-text-color: #62371c;
  --logout-button-border: 2px solid #77c29e;
  --logout-button-background-color: #f7f1d5;
  --logout-button-hover-color: #77c29e;

  /*Contains default values for light them3 on intro page*/
  --intro-message-background: #f7f1d5;
  --intro-message-text: rgba(98, 55, 28, 0.85);
  --intro-button-background: #f7f1d5;
  --intro-button-border: 2px solid #77c29e;
  --intro-button-text-color: #62371c;
  --intro-button-hover-background: #77c29e;

  /*Contains default values for light theme on login page*/
  --login-container-background: rgba(247, 241, 213, 0.95);
  --login-form-container-background: #77c29e;
  --login-form-h4: #62371c;
  --login-box-shadow: 6px 6px #62371c;
  --login-btn-background: #62371c;
  --login-btn-text-color: #f7f1d5;
  --login-btn-border: 2px solid #77c29e;
  --login-error-msg: #62371c;
  --login-account-link: #62371c;
  --login-btn-hover-background: #f7f1d5;
  --login-btn-hover-border: 2px solid #77c29e;
  --login-btn-hover-text: #62371c;
  --login-with-google-background-color: white;
  --login-with-google-text-color: #757575;
  --login-google-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04),
    0 1px 1px rgba(0, 0, 0, 0.25);
  --click-google-background-color: #eeeeee;
  --click-google-border-color: 0 -1px 0 rgba(0, 0, 0, 0.04),
    0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;

  /*Contains default values for light theme on login inputs*/
  --input-bkgrnd-color-default: white;
  --input-border-default: 1px solid rgb(63, 31, 11);
  --input-text-color-default: black;
  --input-placeholder-color: black;
  --input-on-focus-text-color: black;
  --input-on-focus-background: white;
  --input-on-focus-border: 2px solid #62371c;
  --input-on-focus-box-shadow: 0 0 3px #9b1f00;

  /*Contains default values for light theme on hompage*/
  --homepage-container-background: rgba(119, 194, 158, 0.95);
  --homepage-input-form-container-background: #f7f1d5;
  --homepage-input-form-box-shadow: 3px 3px #62371c;
  --homepage-input-form-label-color: #62371c;

  --homepage-search-button-text: #62371c;
  --homepage-search-button-background: #f7f1d5;
  --homepage-search-button-border: 2px solid #77c29e;
  --homepage-search-hover-text: #f7f1d5;
  --homepage-search-hover-background: #77c29e;
  --homepage-select-form-background: white;
  --homepage-select-form-text-color: black;
  --homepage-select-form-border-color: 1px solid black;
}
[data-theme="dark"] {
  /*Contains default values for light theme on Favourites component*/
  --favourites-h3-title-color: white;
  --favourites-rating-arrow-color: white;
  --favourites-remove-link-color: rgb(255, 255, 255);
  --favourites-remove-link-hover-color: #4bddb9;
  --favourites-date-time-color: #4bddb9;

  /*Contains default values for light theme on NearbySearch component*/
  --place-card-background-color: rgb(36, 16, 4, 0.9);
  --place-card-box-shadow: 6px 6px rgb(0, 0, 0, 0.75);
  --loading-earth-icon-color: #4bddb9;
  --place-card-heart-color: #4bddb9;
  --place-name-color: #4bddb9;
  --reviews-text-color: white;
  --place-card-links: white;
  --place-card-links-on-hover: rgb(214, 131, 79);
  --place-card-directions-button-background: rgb(36, 16, 4, 0.9);
  --place-card-directions-button-border: 1px solid rgb(214, 131, 79);

  /*Contains default values for dark theme on contact component*/
  --contact-page-h6-elements: white;

  /*Contains default values for dark theme on About component*/
  --about-app-text-color: white;
  --about-me-text-color: white;
  --about-me-title-color: rgb(161, 255, 255);
  --about-me-link-color: white;
  --about-me-link-hover-color: rgb(161, 255, 255);
  /*Contains default values for dark theme on logonav component*/
  --navbar-background-color: rgba(24, 13, 7);
  --navbar-link-color: white;
  --navbar-greeting-color: white;
  --logout-button-text-color: white;
  --logout-button-border: 1px solid rgb(59, 32, 15);
  --logout-button-background-color: #3f996d;
  --logout-button-hover-color: #3d7e5e;

  /*Contains default values for dark them on intro page*/
  --intro-message-background: rgba(24, 13, 7, 0.85);
  --intro-message-text: white;
  --intro-button-background: rgba(36, 16, 4, 0.85);
  --intro-button-border: 1px solid rgb(214, 131, 79);
  --intro-button-text-color: white;
  --intro-button-hover-background: rgba(19, 7, 1, 0.918);

  /*Contains default values for dark theme on login page*/
  --login-container-background: rgba(24, 13, 7, 0.9);
  --login-form-container-background: rgb(36, 16, 4, 0.9);
  --login-form-h4: white;
  --login-box-shadow: 6px 6px rgb(0, 0, 0, 0.75);
  --login-btn-background: rgba(36, 16, 4, 0.85);
  --login-btn-text-color: white;
  --login-btn-border: 1px solid rgb(214, 131, 79);
  --login-error-msg: white;
  --login-account-link: white;
  --login-btn-hover-background: rgba(19, 7, 1, 0.918);
  --login-btn-hover-border: 1px solid rgb(214, 131, 79);
  --login-btn-hover-text: white;
  --login-with-google-background-color: rgba(19, 7, 1, 0.918);
  --login-with-google-text-color: white;
  --login-google-box-shadow: white;
  --click-google-background-color: black;
  --click-google-border-color: 0 -1px 0 rgba(0, 0, 0, 0.04),
    0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 2px rgb(255, 163, 106);

  /*Contains Styling Values for dark theme login input boxes*/
  --input-bkgrnd-color-default: rgba(19, 7, 1, 0.918);
  --input-border-default: 1px solid rgb(214, 131, 79);
  --input-text-color-default: white;
  --input-placeholder-color: white;
  --input-on-focus-text-color: white;
  --input-on-focus-background: rgba(19, 7, 1, 0.918);
  --input-on-focus-border: 2px solid rgb(214, 131, 79);
  --input-on-focus-box-shadow: 0 0 3px #9b1f00;
  /*Contains default values for dark theme on hompage*/
  --homepage-container-background: rgba(24, 13, 7, 0.9);
  --homepage-input-form-container-background: rgb(36, 16, 4, 0.9);
  --homepage-input-form-box-shadow: 6px 6px rgb(0, 0, 0, 0.75);
  --homepage-input-form-label-color: white;
  --homepage-search-button-text: white;
  --homepage-search-button-background: rgba(36, 16, 4, 0.85);
  --homepage-search-button-border: 1px solid rgb(214, 131, 79);
  --homepage-search-hover-text: white;
  --homepage-search-hover-background: rgba(19, 7, 1, 0.918);
  --homepage-select-form-background: rgba(19, 7, 1, 0.918);
  --homepage-select-form-text-color: white;
  --homepage-select-form-border-color: 1px solid rgb(214, 131, 79);
}
